<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dejwid_smoker.sprawunki_v2">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddItemsActivity"
            android:label="@string/title_activity_add_items"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AddTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dejwid_smoker.sprawunki_v2.MainActivity" />
        </activity>
        <activity android:name=".activities.PreferencesActivity" />
        <activity
            android:name=".activities.EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:parentActivityName=".activities.AddItemsActivity"
            android:theme="@style/EditTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dejwid_smoker.sprawunki_v2.activities.AddItemsActivity" />
        </activity>
    </application>

</manifest>